/* General */
@font-face {
  font-family: "Simplon-Regular";
  src: url("./fonts/SimplonMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Simplon-Bold";
  src: url("./fonts/SimplonMono-Bold.woff") format("woff2");
}

b {
  font-family: "Simplon-Bold";
}

html {background-color: black}

body {
  font-family: "Simplon-Regular";
  color: "#000 !important";
  background: #fff;
  margin-top: 0rem !important;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.navbar-text {
  font-size: 24px;
  color: black !important;
  margin-left: 40px;
}

.btn-link {
  font-size: 24px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.bg-light {
  background-color: white !important;
}

a {
  font-size: 24px;

  color: black;
  text-decoration: none;
  background-color: transparent;
}


#index{
  z-index:9999;
}

/* Old LandingPage (Letter Style) */

.text-center {
  padding-top: 80px;
}

#heading {
  font-family: "Simplon-Bold";
  font-size: 56px;
  line-height: 1em;
}

#sub-heading {
  padding-bottom: 120px;
  font-family: "Simplon-Regular";
  font-size: 28px;
  line-height: 1em;
}

.text-right {
  padding-top: 80px;
  padding-right: 250px;
  font-family: "Simplon-Regular";
  font-size: 14px;
  line-height: 1.2em;
}

#questions {
  padding-left: 20%;
  margin-right: 15%;
  font-family: "Simplon-Regular";
  font-size: 28px;
  line-height: 1.2em;
}

.popover {
  z-index: -1 !important;
  background: transparent !important;
}

#main {
  padding-top: 300px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* LandingPage */

.btn-outline-dark{
margin-left:45%;
margin-bottom: 15px;
z-index:9999999999;

}

#video-compare-container {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 0%;
}
#video-compare-container > video {
  width: 100%;
  position: relative;
  top: 0;
}
#video-clipper {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
#video-clipper video {
  width: 100%;
  position: absolute;
}

#landing {
  font-size: 24px;
}

/* Vignette 1 */

.leaflet-control-attribution {
  visibility: hidden;
}

.leaflet-tooltip-right:before {
  display: none;
  box-shadow: none;
}

h6 {
  color: white;
}
.leaflet-tooltip {
  font-family: "Simplon-Regular";
  color: white;
  position: absolute;
  margin-left: 200px;
  padding: 6px;
  background-color: black;
  opacity: 1;
  width: 250px;
  border: none;
  border-radius: 0px;
  color: #222;
  white-space: pre-wrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  box-shadow: none;
  color: black;
}

/* Vignette 3 */

#my_dataviz {
  background-color: black;
}
